<ion-view title="首页">
  <ion-nav-title class="title">
    首页
  </ion-nav-title>

  <ion-nav-buttons side="left">
    <button class="button button-clear icon ion-navicon" ng-click="toggleLeft()"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-clear icon ion-ios-compose-outline" ng-click="show()"></button>
  </ion-nav-buttons>

  <ion-content>
    <ion-slide-box>
      <ion-slide>
        <div class="box blue"><img src="img/4.jpg"></div>
      </ion-slide>
      <ion-slide>
        <div class="box yellow"><img src="img/2.jpg"></div>
      </ion-slide>
      <ion-slide on-slide-changed="slideHasChanged(index)">
        <div class="box pink"><img src="img/043.jpg"></div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>



